
@{
    ViewData["Title"] = "PostList";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Header</th>
            <th scope="col">Content</th>
            
        </tr>
    </thead>
    <tbody id="demo">
    </tbody>
</table>
<button id="get"> Get All Posts</button>
@section Scripts{
    <script>
        document.querySelector('#get').addEventListener('click', get);
        function get() {
            var url = 'https://localhost:44332/api/posts/getlist';
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.onload = function () {
                if (this.status === 200) {
                    var posts = JSON.parse(this.responseText);
                    posts.forEach(myFunction);
                    function myFunction(item) {
                        document.querySelector("#demo").innerHTML += "<tr>" +
                            "<th scope='row'>" + item.id + "</th>" +
                            "<td>" + item.header + "</td>" +
                            "<td>" + item.content + "</td>" +
                             "</tr>";

                    }
                }
            }
            xhr.send();
        }

    </script>
}


