@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
        </tr>
    </thead>
    <tbody id="demo">
    </tbody>
</table>
<button id="getAll"> Get All Posts</button>
@section Scripts{
    <script>
        document.querySelector('#getAll').addEventListener('click', getAll);
        function getAll() {
            var url = 'https://jsonplaceholder.typicode.com/posts';
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.onload = function () {
                if (this.status === 200) {
                    var posts = JSON.parse(this.responseText);
                    posts.forEach(myFunction);
                    function myFunction(item) {
                        document.querySelector("#demo").innerHTML += "<tr>" +
                            "<th scope='row'>" + item.id + "</th>" +
                            "<td>" + item.title + "</td>" +
                            "<td>" + item.body + "</td>" +
                            "</tr>";

                    }
                }
            }
            xhr.send();
        }

    </script>
}